@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

body{
    font-family: 'Inter', sans-serif;
}