@tailwind base;
@tailwind components;
@tailwind utilities;

/* Evitar que navegadores como Chrome, Edge o Safari agreguen el botón de mostrar/ocultar contraseña */
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill,
input[type="password"]::-webkit-textfield-decoration-container {
    display: none !important;
}

/* Para Edge y otros navegadores que usan pseudo-elementos */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}
